<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UX Website</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
     <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
    <nav>
        <img src="images/ux-design.png" class="logo">
        <ul class="n-links">
        <li><a href="#" class="active">Famous Places</a></li>
        <li><a href="2.htm" >Online Packages</a></li>
        <li><a href="3.htm" >Houses</a></li>
        </ul>

        <a href="ball.htm" class="reg-bt">Register Now</a>
    </nav>
<div class="cont">
    <h1 class="haram">Explore The World with Us</h1>
</div>
<div class="s-box">
    <form>
        <div class="l-in">
            <label>Location</label>
            <input type="text" placeholder="Where are you going?">
        </div>
        <div>
            <label>Check In</label>
            <input type="date" placeholder="Enter the check in date">
        </div>
        <div>
            <label>Check Out</label>
            <input type="date" placeholder="Enter the check out date">
        </div>
        <div>
            <label>Guest</label>
            <input type="text" placeholder="Add Guest">
        </div class="nimo">
        <button type="submit"><img src="images/search.png"></button>
    </form>
</div>

    </div>
    <div class="cont">
        <h2 class="s-t"> Exclusives </h2>
        <div class="ex">
            <div><img src="images/image-1.png">
                <span>
                    <h3>London</h3>
                    <p>Starts @$350</p>
                </span></div>
            
            <div><img src="images/image-2.png"><span>
                <h3>Switzerland</h3>
                <p>Starts @$350</p>
            </span></div>
            
            <div><img src="images/image-3.png">
                <span>
                    <h3>Australia</h3>
                    <p>Starts @$350</p>
                </span></div>
            
            <div><img src="images/image-4.png"><span>
                <h3>France</h3>
                <p>Starts @$350</p>
            </span></div>
            
            <div><img src="images/image-5.png"><span>
                <h3>Amsterdam</h3>
                <p>Starts @$350</p>
            </span></div>
            
            <div><img src="images/image-6.png"><span>
                <h3>Bihar</h3>
                <p>Starts @$350</p>
            </span></div>
            
            <div><img src="images/image-7.png"><span>
                <h3>New York</h3>
                <p>Starts @$350</p>
            </span></div>
            
            <div><img src="images/image-8.png"><span>
                <h3>Chicago</h3>
                <p>Starts @$350</p>
            </span></div>
            
            <div><img src="images/image-9.png"><span>
                <h3>San Francisco</h3>
                <p>Starts @$350</p>
            </span></div>
            
            <div><img src="images/image-10.png"><span>
                <h3>Belgium</h3>
                <p>Starts @$350</p>
            </span></div>
            
        </div>
        <h2 class="s-t">Famous Places</h2>
        <div class="fam">
            <div><img src="images/dubai.png">
            <h3>DUBAI</h3></div>
    <div><img src="images/new-york.png">
    <h3>NEW YORK</h3></div>
    
     <div><img src="images/paris.png">
    <h3>PARIS</h3></div>
    
     <div><img src="images/new-delhi.png">
    <h3>NEW DELHI</h3></div>
</div>
<div class="cta">
    <h3>Sharing Is Earning Now</h3>
    <p>Great opportunity to make money bysharing extra space in your place. </p>
    <a href="ball.htm" class="cta-btn">Know More</a>
</div>

<h2 class="s-t">Traveller Stories</h2>
<div class="stu">
    <div>
        <img src="images/sory1.jpg">
        <p>Famous European countries with a budget at just $5000</p>
    </div>
    <div>
        <img src="images/story-2.png">
        <p>Travel more than 20 countries in less than a year</p>
    </div>
    <div>
        <img src="images/sory3.webp">
        <p>Best Experience you get while travelling to Bihar</p>
    </div>
</div>
     <a href="ball.htm" class="start-btn"> Start Making Money </a>
     <div class="ab-msg">
        <h2>About UX</h2>
        <p>UX is a traveling website is an invaluable online platform that serves as a one-stop destination for individuals seeking information, inspiration, and assistance for their travel adventures. These websites offer a wide array of resources, including destination guides, hotel and flight bookings, travel itineraries, and travel tips. Users can browse through a wealth of content, such as articles, reviews, and photos, to help them plan their trips effectively. Travel websites also often provide interactive features, such as user reviews and ratings, allowing travelers to make informed decisions about their travel plans.</p>
     </div>
     <div class="footer">
        <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
        <a href="https://youtube.com/"><i class="fab fa-youtube"></i></a>
        <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>

        <hr>
        <p>Copyright © 2021,Easy Tutorials.</p>
     </div>

    </div>
</body>
</html>