<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Details Page</title>
    <!-- <link rel="stylesheet" href="styles.css"> -->
     <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="nav-white">
        <img src="images/ux-design.png" class="logo">
        <ul class="n-links">
        <li><a href="1.htm" >Famous Places</a></li>
        <li><a href="2.htm" >Online Packages</a></li>
        <li><a href="#" class="active">Houses</a></li>
        </ul>

        <a href="ball.htm" class="reg-bt">Register Now</a>
    </nav>
    <div class="house-details">
        <div class="house-title">
            <h1>Mukesh's House</h1>
            <div class="row">
                <div>
                    <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
<span>245 Reviews</span>                </div>
                     <p>Location : France,Californa,Bihar</p>

            </div>
        </div>
        <div class="gallery">
            <div class="gallery-img-1"><img src="images/house-1.png"></div>
        <div><img src="images/house-2.png"></div>
        <div><img src="images/house-3.png"></div>
        <div><img src="images/house-4.png"></div>
        <div><img src="images/house-5.png"></div>
    </div>
    <div class="sm-det">
        <h2>Entire rentsl unit hosted by Muskesh kumar</h2>
        <p>2 Guest &nbsp; &nbsp; 2 Beds &nbsp; &nbsp; 1 Bathroom</p>
        <h4>$90 / Day </h4>
    </div>
    <hr class="line">
    <form class="ch-fo">
        <div>
            <label>Check-In</label>
        <input type="date" placeholder="Add Date">
        </div>
        <div>
            <label>Check-Out</label>
        <input type="date" placeholder="Add Date">
        </div>
        <div class="guest-field">
            <label>Guest</label>
        <input type="text" placeholder="Only 2 Guests">
        </div>
        <button type="submit"><a href="Button.htm">check Availability</a></button>
    </form>
    <ul class="details-list">
        <li><i class="fa-solid fa-house"></i>Entire Home
            <span>You will have the Entire flat for you</span>
        </li>
        <li><i class="fa-solid fa-paintbrush"></i>Enchanced Clean
            <span>This host has commited to UX's cleaning process</span>
        </li>
        <li><i class="fa-solid fa-location-dot"></i>Great Location
            <span>98% of recent guests gave the location a 5 star rating</span>
        </li>
        <li><i class="fa-solid fa-heart"></i>Great check-in Experience
            <span>100% of recent guests gave the check-in process a 5-star Rating</span>
        </li>
    </ul>
    <hr class="line">
    <p class="home-desc">Nestled on a quiet street, this home exudes warmth with its charming brick facade and welcoming front porch. The well-manicured garden, adorned with vibrant flowers, adds a touch of serenity to the exterior. Inside, sunlight dances through large windows, illuminating the cozy living spaces adorned with tasteful decor. The kitchen, a culinary haven with modern amenities, invites culinary adventures. With its seamless blend of comfort and style, this home is not just a dwelling but a haven of tranquility.




    </p>
    <hr class="line">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330865.490266783!2d2.748785197201104!3d46.07685630437058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd54a02933785731%3A0x6bfd3f96c747d9f7!2sFrance!5e0!3m2!1sen!2sin!4v1699506925420!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <b>France , Europe</b>
    <p>Its like a home away from home.</p>
    </div>

    <hr class="line">
    <div class="host">
        <img src="images/download.png">
        <div>
    <h2>Hosted By Mukesh Kumar</h2>
    <p><span>
        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half-stroke"></i>
                        <i class="fa-regular fa-star"></i>
    </span>&nbsp;&nbsp; 245 Reviews &nbsp;&nbsp; Response Rate 100% &nbsp;&nbsp; Response time:60min</p>
        </div>
    </div>
    <a href="ball.htm" class="c-host">Contact Host</a>
</div>
<div class="footer">
    <a href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a>
    <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
    <a href="https://youtube.com/"><i class="fab fa-youtube"></i></a>
    <a href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://instagram.com/"><i class="fab fa-instagram"></i></a>

    <hr>
    <p>Copyright © 2021,Easy Tutorials.</p>
 </div>
</body>
</html>