/* styles.css */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins' , sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/banner1.jpg);
    background-size: cover;
    background-position: center;
}
.haram{
    color: #ff5361;
}
.logo{
    height: 5%;
    width: 5%;
    cursor: pointer;
}

.nimo{
    border-radius: 20px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}
.n-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 30px;

}

.n-links li a{
    text-decoration: none;
    color: #381a1a;
}

.reg-bt{
    background: #fff;
    color: #000;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}

.cont{
    padding: 0 7%;
}

.header h1{
    font-size: 4vw;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 22%;
}
.s-box{
    background: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}
.s-box form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.s-box form input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}
.s-box form button{
    background: #c853ff;
    width: 55px;
    height: 55px;
    border-radius: 50;
    border: 2px;
    outline: none;
    cursor: pointer;
}
.s-box form button img{
    width: 15px;
    margin-top: 7px;
}

.l-in{
    flex:1;
}
.s-box form label{
    font-weight: 600;
}

.s-t{
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}

.ex{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px , 1fr));
    grid-gap: 30px;

}
.ex div img{
    width: 100%;
    border-radius: 10px;

}
.fam{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px , 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}
.fam div img{
    width: 100%;
    border-radius: 10px;
}
.fam h3{
    font-weight: 600;
    margin-top: 10px;
}
.cta{
    margin: 80px 0;
    background-image: linear-gradient(to right,#3f2321,transparent),url(images/banner-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: #fff;
}
.cta h3{
    font-size: 4vw;
    list-style: 5.3vw;
    font-weight: 500;
}
.cta p{
    font-size: 18px;
    margin: 10px 0;
}
.cta-btn{
    background: #ff5361;
    color: #fff;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
}
.stu{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px , 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}
.stu div img{
    width: 100%;
    border-radius: 10px;
}
.stu div{
    position: relative;
    text-align: center;
}
.stu p{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 26px;
}
.start-btn{
    text-decoration: none;
    background: #ff5361;
    color: #fff;
    width: 80%;
    max-width: 350px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
}
.ab-msg{
    text-align: center;
    margin: 80px 0;
    color: #333;
    font-size: 17px;
}
.ab-msg h2{
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 500;
}
.footer{
    margin: 80px 0 10px;
    text-align: center;

}
.footer a{
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}
.footer hr{
    background: #999;
    height: 1px;
    width: 100%;
    border: 0;
    margin: 20px 0;
}
.footer p{
    padding-bottom: 15px;
}
.active{
    position:relative;
}
.active::after{
    content:'';
    background: #fff;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
}
 




































.nav-white{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);

}
.nav-white .n-links li a{
    text-decoration: none;
    color: #000;
}
.nav-white .reg-bt{
    background: #ff5361;
    color: #fff;
}
.nav-white .active::after{
    background: #ff5361;
}
.li-cont{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left-col{
    flex-basis:71%
}
.right-col{
    flex-basis:24%;
}
.left-col h1{
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
}
.house{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid #ccc;
}
.house-img{
    flex-basis: 40%;
}
.house-info{
    flex-basis:58%;
    color: #555;
}
.house-img img{
    width: 100%;
    border-radius: 12px;
}
.house-info h3{
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}
.house-info i{
    color: #ff5361;
    font-size: 18px;
    margin: 10px 1px;
}
.house-price{
    text-align: right;
}
.house-price h4{
    font-size: 20px;
}
.house-price h4 span{
    font-size: 16px;
    font-weight: 500;
}
.sidebar{
    border: 1px solid #999;
    padding: 20px 30px;
    margin-top: 30px;
}
.sidebar h2{
    font-weight: 600;
}
.sidebar h3{
    font-weight: 500;
    margin: 20px 0 10px;
}
.filter{
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 10px;
}
.filter p{
    flex:1;
}
.filter input{
    margin-right: 15px;
cursor: pointer;
}
.side-link{
    text-align: right;
    margin: 20px 0;
}
.side-link a{
    text-decoration: none;
}
.pagi{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.pagi img{
    width: 15px;
    margin: 10px 20px;
}
.right-arrow{
    transform:rotate(180deg)
}
.pagi span{
    margin: 10px 8px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.pagi .chat{
    background: #333;
    color: #fff;
}



 



.house-details{
    padding: 0 12%;

}
.house-title{
    margin-top: 50px;
}
.house-title h1{
    font-weight: 600;
}
.house-title .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;

}
.house-title span{
    margin: 0 20px;
}
.house-title i{
    color: #ff5361;
    font-size: 14px;
}
.gallery{
    display: grid;
    grid-gap:10px;
    grid-template-areas:'first first . .' 'first first . .' ;
    margin: 20px 0;
}
.gallery div img{
    width: 100%;
    display: block;
    border-radius: 10px;
}
.gallery-img-1{
    grid-area: first;
}
.sm-det h2{
    font-weight: 500;
}
.sm-det h4{
    text-align: right;
    font-size: 22px;
}
.line{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 800px;
    margin: 20px 0 50px;
}
.ch-fo{
    margin: 30px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 50px;
}
.ch-fo label{
    display: block;
}
.ch-fo div{
    padding: 20px;
}
.ch-fo button{
    background: #ff5361;
    border: 0;
    outline: none;
    color: #fff;
    width: 350px;
    padding: 18px;
    border-radius: 8px;
    font-size: 16px;
}
.guest-field{
    flex: 1;
}
.details-list{
    list-style: none;
    margin: 50px 0;
}
.details-list li{
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #555;
    position: relative;
}
.details-list li span{
    display: block;
    font-weight: 400;
    font-size: 16px;
}
.details-list li i{
    position: absolute;
    top: 5px;
    left: -40px;
}
.home-desc{
    max-width: 700px;
    margin-bottom: 50px;

}
.map{
    margin: 50px 0;
}
.map iframe{
    width: 100%;
    margin-bottom: 30px;
}
.map h3{
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 30px;
}
.host{
    display: flex;
    align-items: center;
}
.host imag{
    width: 80px;
    border-radius: 50%;
    margin-right: 30px;
}
.host h2{
    margin-bottom: 10px;
    font-weight: 500;
}
.host i{
    color: #ff5361;
}
.c-host{
    display: inline-block;
    margin: 40px 0 40px 120px;
    text-decoration: none;
    color: #555;
    padding: 15px 50px;
    border-radius: 8px;
    border: 1px solid #ff5361;
}